@mixin main {
    max-width: 75vw;
    margin: auto;
    display: flex;
    @media (max-width: 800px){
        padding: 0px 3vmin;
        max-width: 100vw;
        margin: 3vmin 0px auto auto;
    }
}

@mixin primaryBtn($bg-clr) {
    background-color: $bg-clr;
    border: none;
    border-radius: 1vmin;
    padding: 1.5vmin 2vmin;
    color: white;
    cursor: pointer;
}

@keyframes slideIn {
    from {
      transform: translateX(-150px); /* Start below */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* End at original position */
      opacity: 1;
    }
}

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}