@import "mixin";

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", "Roboto", sans-serif;
}

body{
    height: 100vh;
    align-items: center;
}
header{
    @include main;
    @include flex(row, space-between, center);
    margin: 3vmin auto;
    .logo{
        @include flex(row, center, center);
    }
    span{
        font-weight: 700;
        font-size: 5vmin;
    }
    ul{
        @include flex(row, center, center);
        list-style-type: none;
        a{
            text-decoration: none;
            color: black;
            padding: 2vmin;
            font-weight: 600;
        }
        @media screen and (max-width: 800px){
            display: none;
        }
    }
    button{
        @include primaryBtn(rgb(81, 0, 128));
        @media screen and (max-width: 800px){
            display: none;
        }
    }
    .hamburger{
        @media screen and (min-width: 800px) {
             display: none;
        }
    }
}

main{
    @include main;
    flex-direction: column;
    margin-top: 7vmin;
}

.hero{
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 11vmin;
    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
    }
    .heading{
        @include flex(column, center, flex-start);
        grid-column: 1/2;
        height: 100%;
        align-content: center;
        gap: 6vmin;
        @media screen and (max-width: 800px){
            align-items: center;
            gap: 3vmin;
        }
        span{
            @include flex(column, center, flex-start);
            font-size:6vmin;
            font-weight: 700;
            gap: 2.5vmin;
            @media screen and (max-width: 800px){
                align-items: center;
                gap: 1.5vmin;
            }
            p{
                color: rgb(70, 0, 128);
                font-size: 1rem;
            }
        }
        .description{
            color: rgb(19, 19, 19);
        }
    }
    .graphic{
        grid-column: 2/3;
        @media screen and (max-width: 800px){
            @include flex(row, center, center);
            // display: flex;
            // justify-content: center;
            margin-top: 3vmin;
        }
        img{
            height: 100%;
            width: 100%;
            border-radius: 2.5vmin;
            overflow: hidden;
            @media screen and (max-width: 800px){
                width: 60vw;
            }
        }
    }
    .buttons{
        .start{
            @include primaryBtn(rgb(81, 0, 128));
            @media screen and (max-width: 800px){
                margin: 0px 2vmin;
            }
        }
        .trial{
            @include primaryBtn(rgb(36, 36, 36));
            @media screen and (max-width: 800px){
                margin: 0px 2vmin;
            }
        }
    }
}

.authorized{
    @include flex(column, center, center);
    margin-bottom: 3vmin;
    p{
        margin: 3vmin auto 3vmin auto;
        font-size: 1.3rem;
        font-weight: 650;
    }
    .companies{
        @include flex(row, center, center);
        width: max-content;
        background-color: rgba(206, 205, 205, 0.671);
        gap: 20px;
        padding: 2vmin 2.5vmin;
        border-radius: 1vmin;
        font-size: 1rem;
        @media screen and (max-width: 700px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content max-content;
        }
        .icon{
            @include flex(row, center, center);
            gap: 7px;
            svg{
                height: 25px;
            }
        }
        .icon-2{
            @include flex(row, center, center);
            gap: 7px;
            svg{
                height: 25px;
            }
        }
    }
    opacity: 0;
  transform: translateX(-150px); /* Match initial keyframe */
  animation: slideIn 1s ease-out forwards;
  animation-delay: 1s;
}

.cards{
    @include flex(column, center, center);
    width: 100%;
    margin-top: 5vmin;
    gap: 3vmin;
    p{
        text-align: center;
    }

    .card_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 4vmin;
        row-gap: 4vmin;
        margin: 0px 10vmin;
        @media screen and (max-width: 800px){
            @include flex(column, center, center);
            gap: 3vmin;
            margin: 0px 3vmin;
        }
        .card{
            @include flex(column, center, center);
            padding: 2vmin;
            border-radius: 1vmin;
            gap: 1.5vmin;
            .icon{
                @include flex(row, center, center);
                background-color: white;
                border-radius: 100%;
                height: 35px;
                width: 35px;
                svg{
                    height: 1.5rem;
                    width: 1.5rem;
                    // clip-path: circle(35px);
                }
            }
            .sub-heading{
                font-size: 0.9rem;
            }
        }
        
    }
    opacity: 0;
  transform: translateX(-150px); /* Match initial keyframe */
  animation: slideIn 1s ease-out forwards;
  animation-delay: 2s;
}

.testimonials{
    @include flex(column, center, center);
    margin: 5vmin 0px;
    gap: 3vmin;
    .heading{
        text-align: center;
    }
    .reviews{
        @include flex(row, center, center);
        gap: 3vmin;
        @media screen and (max-width: 600px){
            flex-direction: column;
        }
        .review{
            @include flex(column, center, center);
            border: 1px solid black;
            border-radius: 1.5vmin;
            gap: 1vmin;
            height: min-content;
            padding: 1vmin 1.5vmin;
            p, .occupation{
                text-align: center;
                font-size: 0.9rem;
                color: rgb(66, 66, 66);
            }
            .face{
                img{
                    height: 15vmin;
                }
            }
            .name{
                color: rgb(109, 0, 172);
                font-weight: 550;
                text-align: center;
                font-size: 0.9rem;
            }
        }
    }
    opacity: 0;
  transform: translateX(-150px); /* Match initial keyframe */
  animation: slideIn 1s ease-out forwards;
  animation-delay: 3s;
}

.newsletter{
    background-color: rgba(128, 128, 128, 0.267);
    border-radius: 1vmin;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vmin;
    @media screen and (max-width: 650px){
        display: flex;
        padding: 3vmin 2vmin;
    }
    .cover{
        @media screen and (max-width: 650px){
            display: none;
        }
        img{
            grid-column: 1/2;
            width: 100%;
            height: 100%;
            border-radius: 1vmin;
        }
    }
    .main_content{
        @include flex(column, center, flex-start);
        padding: 0vmin 2vmin;
        gap: 7%;
        @media screen and (max-width: 650px){
            
        }
        .heading{
            @media screen and (max-width: 650px){
                line-height: 5vmin;
            }
            div{
                font-size: 4vmin;
                font-weight: 650;
                color: rgb(124, 0, 196);
            }
            p{
                font-size: 0.9rem;
            }
        }
        .details{
            @include flex(row, center, center);
            gap: 7px;
            margin: 9px 0px;
            .email{
                // font-size: 1.2rem;
                padding: 0.85vmin 2vmin;
                border-radius: 0.8vmin;
                border: none
            }
            button{
                @include primaryBtn(rgb(124, 0, 196));
                padding: 1vmin 2vmin;
            }
        }
        .terms{
            font-size: 0.9rem;
            line-height: 18px;
        }
    }
    margin-bottom: 3vmin;
}

ul{
    list-style-type: none
}

footer{
    @include main;
    justify-content: center;
    margin: 3vmin auto;
    padding-bottom: 5vmin;
    @media screen and(max-width:800px) {
        padding-bottom: 5vmin;
    }
    .footer{
        width: 100%;
        @include flex(row, space-between, flex-start);
        gap: 4vmin;
        padding: 0px 10px;
        @media screen and (max-width: 600px) {
            flex-direction: column;
            gap: 4vmin;
        }
        .head_section{
            @include flex(column, center, flex-start);
            gap: 3vmin;
            .heading{
                @include flex(row, flex-start, center);
                gap: 5px;
            }
            p{
                color: rgb(128, 128, 128);
                font-size: 0.85rem;
            }
            .handles{
                svg{
                    height: 3vmin;
                    fill: rgb(128, 128, 128);
                }
            }
        }
        .items{
            @include flex(row, space-between, flex-start);
        gap: 4vmin;
        @media screen and (max-width: 500px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
        }
            .item{
            @include flex(column, center, center);
            gap: 7px;
            width: min-content;
            @media screen and (max-width: 500px){
                width: max-content;
            }
            .main{
                font-weight: 600;
            }
            ul{
                @include flex(column, center, flex-start);
                color: rgb(128, 128, 128);
                font-size: 0.9rem;
                gap: 7px;
            }
        }
        }
    }
}

hr{
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.692);
}
