<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>To-Do list</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" href="main.css" />

</head>

<body>
  <header>
    <div class="header">

      <div class="profile">
        <div class="photo"></div>
        <p>
          <%=name%>
        </p>
      </div>

      <h1>To-Do List</h1>

      <button onclick="createNewTask()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="30px" id="add-task" fill="#EDB8B5">
          <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
        </svg>
      </button>
    </div>
  </header>

  <div class="headings">
    <!--blue = #3498DB, dark-blue = #2C3E50, white = #ECF0F1, box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);, green = #495456, grey = #2ECC71-->

    <aside id="aside">

      <div class="ham-side"></div>

      <div class="aside">
        <div class="groups">

          <input type="text" id="add_group" placeholder="New Group ..." tabindex="0">

          <p id="group-name" class="gp" onclick="addCategory()">New Group ...</p>

          <svg onclick="addCategory()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="30px"
            id="svg-add" class="gp" fill="#D4A6A3">
            <path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
          </svg>
        </div>

        <ul id="all_groups" style="list-style-type: none;"></ul>
      </div>
    </aside>



    <main>
      <div class="hidden background">
        <div class="align">
        </div>
      </div>
      <div class="content">
      </div>
    </main>

  </div>

  <script src="script.js"></script>
  <script src="category.js"></script>
  <script src="task.js"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</body>

</html>