@import "mixin";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

$background-color: #2C3E50;
$text-color: #ECF0F1;

* {
    margin: 0;
    padding: 0;
    font-family: 'caveat';
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    @include flex(row, space-between, center);
    width: 100%;
    background-color: #F7DAD9;
    padding: 10px 0px;
    border-bottom: 0px solid black;
    .header {
        @include flex(row, space-between, center);
        width: 100%;
        padding: 0px 15px;
        .profile {
            @include flex(row, center, center);
            color: #5C4B51;

            button{
                background-color: #EDB8B5;
                border-radius: 12px;
                padding: 7px 15px;
                box-shadow: 0 2px 4px rgba(237, 184, 181, 0.3);
            }
            button:hover{
                background-color: #D4A6A3 ;
                cursor: pointer;
            }

            .photo {
                height: 30px;
                background-color: $text-color;
                width: 30px;
                border-radius: 100%;
            }

            p {
                text-decoration: none;
            }
        }
    }

    h1 {
        color: #5C4B51;
        text-decoration: underline solid #3498DB;

        @media screen and (max-width: 600px) {
            font-size: 1.5rem;
        }
    }

    #add-task{
        fill: #5C4B51;
    }

    #add-task:hover {
        cursor: pointer;
        fill: #EDB8B5;
    }
}

.headings {
    max-width: 100%;
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);

    aside {
        background-color: #F0E6E6;
        height: calc(100vh - (39.2px + 20px));
        border-radius: 4px;
        .aside {
            @include flex(column, flex-start, center);
            padding: 7px 7px 0px 7px;
            color: #5C4B51;

            .groups {
                @include flex(row, space-between, center);
                width: 100%;
                #add_group{
                    display: none;
                }
                #svg-add{
                    fill: #5C4B51;
                }
                #svg-add:hover {
                    cursor: pointer;
                    fill: #EDB8B5;
                }
            }
        }
    }


    main {
        background-color: #FFF9F5;
        height: calc(100vh - (39.2px + 20px));

        .main {
            @include flex(column, flex-start, center);
            padding: 7px 7px 0px 7px;
            color: $background-color;

        }
    }
}