@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  margin: 0;
  padding: 0;
  font-family: "caveat";
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #F7DAD9;
  padding: 10px 0px;
  border-bottom: 0px solid black;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 15px;
}
header .header .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #5C4B51;
}
header .header .profile button {
  background-color: #EDB8B5;
  border-radius: 12px;
  padding: 7px 15px;
  box-shadow: 0 2px 4px rgba(237, 184, 181, 0.3);
}
header .header .profile button:hover {
  background-color: #D4A6A3;
  cursor: pointer;
}
header .header .profile .photo {
  height: 30px;
  background-color: #ECF0F1;
  width: 30px;
  border-radius: 100%;
}
header .header .profile p {
  text-decoration: none;
}
header h1 {
  color: #5C4B51;
  -webkit-text-decoration: underline solid #3498DB;
          text-decoration: underline solid #3498DB;
}
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
  }
}
header #add-task {
  fill: #5C4B51;
}
header #add-task:hover {
  cursor: pointer;
  fill: #EDB8B5;
}

.headings {
  max-width: 100%;
  display: grid;
  grid-template-columns: 250px calc(100% - 250px);
}
.headings aside {
  background-color: #F0E6E6;
  height: calc(100vh - 59.2px);
  border-radius: 4px;
}
.headings aside .aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 7px 0px 7px;
  color: #5C4B51;
}
.headings aside .aside .groups {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  width: 100%;
}
.headings aside .aside .groups #add_group {
  display: none;
  background-color: #F0E6E6;
  margin-top: 10px;
}
.headings aside .aside .groups #add_group:focus {
  border: none;
  border-bottom: 1px solid #5C4B51;
  outline: none;
}
.headings aside .aside .groups #add_group::-moz-placeholder {
  font-size: 17px;
}
.headings aside .aside .groups #add_group::placeholder {
  font-size: 17px;
}
.headings aside .aside .groups #svg-add {
  fill: #5C4B51;
}
.headings aside .aside .groups #svg-add:hover {
  cursor: pointer;
  fill: #EDB8B5;
}
.headings aside .aside #all_groups {
  margin-top: 20px;
  align-self: flex-start;
  border: none;
  width: 100%;
}
.headings aside .aside #all_groups li {
  margin-top: 10px;
  width: 100%;
  font-size: 19px;
  transition: all 0.1s linear;
}
.headings aside .aside #all_groups li:hover {
  border-bottom: 1px solid black;
  box-shadow: -3px 3px 5px black;
  border-bottom-left-radius: 4px;
  font-size: 22px;
  font-weight: 700;
  transform: translateX(3px);
  padding-left: 5px;
  transition: all 0.1s linear;
}
.headings main {
  background-color: #FFF9F5;
  height: calc(100vh - 59.2px);
}
.headings main .main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 7px 0px 7px;
  color: #2C3E50;
}/*# sourceMappingURL=main.css.map */