@import "mixin";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

$background-color: #2C3E50;
$text-color: #ECF0F1;

* {
    margin: 0;
    padding: 0;
    font-family: 'caveat';
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    @include flex(row, space-between, center);
    width: 100%;
    background-color: #F7DAD9;
    padding: 10px 0px;
    border-bottom: 0px solid black;
    .header {
        @include flex(row, space-between, center);
        width: 100%;
        padding: 0px 15px;

        .hamburger{
            display: none;
            @media (max-width: 600px){
                display: block;
                width: 8%;
            }
        }
        .profile {
            @include flex(row, center, center);
            color: #5C4B51;
            gap: 5px;

            @media (max-width: 600px){
                flex-direction: column;
            }

            button{
                background-color: #EDB8B5;
                border-radius: 12px;
                padding: 7px 15px;
                box-shadow: 0 2px 4px rgba(237, 184, 181, 0.3);
            }
            button:hover{
                background-color: #D4A6A3 ;
                cursor: pointer;
            }

            .photo {
                height: 30px;
                background-color: $text-color;
                width: 30px;
                border-radius: 100%;
            }

            p {
                text-decoration: none;
            }
        }
    }

    h1 {
        color: #5C4B51;
        text-decoration: underline solid #3498DB;

        @media screen and (max-width: 600px) {
            font-size: 1.5rem;
        }
    }

    #add-task{
        fill: #5C4B51;
    }

    #add-task:hover {
        cursor: pointer;
        fill: #EDB8B5;
    }
}

.headings {
    max-width: 100%;
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);
    @media (max-width: 900px) and (min-width: 600px) {
        grid-template-columns: 30vw calc(100% - 30vw);
    }

    @media (max-width: 600px){
        grid-template-columns: 100%;
    }

    aside {
        background-color: #F0E6E6;
        height: calc(100vh - (39.2px + 20px));
        border-radius: 4px;
        
        .aside {
            @include flex(column, flex-start, center);
            padding: 7px 7px 0px 7px;
            color: #5C4B51;

            .groups {
                // @include flex(row, space-between, center);
                display: grid;
                grid-template-columns: auto max-content;
                align-items: center;
                width: 100%;
                #add_group{
                    display: none;
                    background-color: #F0E6E6;
                    margin-top: 10px;
                    // font-size: 1.1rem;
                    &:focus{
                        border: none;
                        border-bottom: 1px solid #5C4B51;
                        outline: none;
                    }
                    &::placeholder{
                        font-size: 17px;
                    }
                }
                #svg-add{
                    fill: #5C4B51;
                }
                #svg-add:hover {
                    cursor: pointer;
                    fill: #EDB8B5;
                }
            }

            #all_groups{
                margin-top: 20px;
                align-self: flex-start;
                border: none;
                width: 100%;
                li{
                    @include flex(row, space-between, center);
                    margin-top: 10px;
                    width: 100%;
                    font-size: 19px;
                    transition: all 0.1s linear;
                    &:hover{
                        border-bottom: 1px solid black;
                        box-shadow: -3px 3px 5px black;
                        border-bottom-left-radius: 4px;
                        font-size: 22px;
                        font-weight: 700;
                        transform: translateX(3px);
                        padding-left: 5px;
                        transition: all 0.1s linear;
                    }
                    svg{
                        fill: #5C4B51;
                        &:hover{
                            fill: #D4A6A3;
                        }
                    }
                }
            }
        }
    }


    @media (max-width: 600px){
        aside{
            position: fixed;
            top: calc(39.2px + 29px);
            left: 0;
            width: 70vw;
            height: calc(100vh - (39.2px + 29px)); ;
            z-index: 10;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
            &.open {
                transform: translateX(0);
            }
        }
    }




    
    main {
        background-color: #FFF9F5;
        height: calc(100vh - (39.2px + 20px));

        .background{
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.529);

            .align{
                height: 100%;
                width: 100%;
                @include flex(row, center, center);
            }

            .newTask{
                height: auto;
                width: 50%;
                background-color:#F7DAD9;
                border-radius: 10px;
                padding: 15px 10px;
                position: relative;
                line-height: 120%;

                #formBar{
                    @include flex(row, space-between, center);
                    padding-bottom: 10px;
                    #discard{
                        color: red;
                        font-weight: 900;
                        cursor: pointer;
                    }
                }

                #title{
                    width: 100%;
                }
                #description{
                    width: 100%;
                }
            }
        }

        .content {
            padding: 1rem;
    columns: 4 250px;
    column-gap: 1rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
    // height: 100%; // Remove this line

    @media (max-width: 900px) and (min-width: 600px) {
        columns: 3 250px;
    }

    @media (max-width: 600px) {
        columns: 1 100%;
        width: calc(100% - 2rem); // Correct width calculation
        // margin: 0 auto;
    }

            .task {
                background-color: #EDB8B5;
    display: inline-block; // Changed to inline-block
    width: 100%;
    margin-bottom: 1rem; // changed from margin: 10px
    break-inside: avoid;
    border-radius: 10px;
    padding: 15px 10px;
    position: relative;
    padding-bottom: 30px;
    box-sizing: border-box;
    word-break: break-word;

                .taskHead{
                    font-weight: 600;
                    font-size: 1.3em;
                    width: 100%;
                    margin-bottom: 6px;

                    &:hover {
                        &::before {
                            content: "Mark as done";
                            color: #5C4B51;
                        }
                    }
                }

                .editTask{
                    cursor: pointer;
                }

                .deadline{
                    text-decoration: underline solid rgb(158, 0, 0);
                    width: 100%;
                }

                .categ{
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
    }
}


.hidden{
    display: none;
}